button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid;
    background-color: transparent;
    color:white;
    font-size: 16px;
    padding:  15px 30px 15px 30px;
    margin: 10px;
    border-radius: 30px;
    transition: color 0.3s, border-color 0.3s;
    min-height: 50px;
}
button:hover {
    color: #60267F;
    border-color: #60267F;
    cursor: pointer;
}

.overlay {
    position: absolute;

}

.loading {
    color: transparent;
}

.disabled {
    opacity: 50%;
}

.disabled:hover {
    cursor: not-allowed;
    border-color:white;
    color: white;
    opacity: 50%;
}