.WelcomeSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: url("../../assets/placeholders/computers/homepage-background.png");
    background-size: cover;
    padding: 200px 50px 200px 50px;
}
.main {
    display: flex;
    flex-direction: row ;
}