.productFeature {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
}

.productCard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 500px;
    max-width: 500px;
    height: 800px;
    background-color: black;
    margin: 30px;
    border-radius: 25px;
    box-shadow: 30px 30px 12px rgba(0,0,0,0.30);
    overflow: hidden;
    border: transparent;
}



.productCardContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.productCardContent h2,
.productCardContent p {
    margin: 10px 0 10px 0;
}

.productImage {
    max-width: 500px;
    max-height: 600px;
}