input {
    all:unset;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    border: white solid;
    border-radius: 30px;
    font-size: 20px;
    transition: border 0.3s;
    margin: 10px;
}
input:focus {
    border: #60267F solid;
}