.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
            to bottom,
            black 0%,
            rgba(0, 0, 0, 1) 40%,
            rgba(0,0,0,0) 100%
    );
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-top: 10px;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    min-width: 20%;
}


.nav {
    display: flex;
    justify-content: center;
    max-width: 40%;
    min-width: 40%;
}