.left-Nav,
.right-Nav {
    display: flex;

}

.left-Nav {
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 30px;
}

.right-Nav {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 30px;
}

.Navlink {
    border-bottom:solid 5px transparent;
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin: 10px;
    transition: border-bottom 0.3s,color 0.3s;
}

.Navlink:hover ,
.active {
    border-bottom:solid 5px #60267F;
}
.active{
    color: #60267F;
}


